@import '../../assets/fonts';

#content-wrapper {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.screen-size {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.header-section {
  background-image: url('../../assets/images/Header_image.png');
  background-repeat: no-repeat;
  background-size: 100% auto;

  .title-container {
    color: #ffffff;
    top: 40%;
    text-align: center;
    display: block;
    position: relative;

    .main-title {
      font-family: HeavyFont;
    }

    .secondary-title {
      font-family: RegularFont;
    }

    h1, h2, h3 {
      margin: 0;
    }
  }

  .head-footer {
    background: red;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0px;
    display: block;
  }

}

/*.img-fit-container {
  z-index: -1;
  max-width: 100%;
  height: auto;
}*/
