@import '../../assets/variables';

#content-wrapper {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.screen-size {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: $small-section-height;

  /* laptops and desktops */
  @media only screen and (min-width: 1000px) {
    min-height: $section-height-laptop;
  }

  @media only screen and (min-width: 600px) {
    min-height: $medium-section-height;
  }
}

[data-aos="updates-anim"] {
  transform: rotate(90deg);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: rotate(0deg);
  }
}