@import '../../assets/variables';

#content-wrapper {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.screen-size {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;

  /* laptops and desktops */
  @media only screen and (min-width: 1000px) {
    min-height: $section-height-laptop;
  }
}

/******************************************/
/** Second section **/
.second-section {
  background-color: #ffffff;

  .left-side-content {
    .phone-img {
      right: 10%;
      position: absolute;
      transform: translateY(5%);
    }
  }

  .map-container {
    text-align: center;
    width: 70%;
    margin-top: 20%;
  }

  .map-img {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
  }

  .map-description {
    font-family: RegularFont;
  }
}

/******************************************/
/** Third Section **/