@import '../../assets/variables';

.section-content {
  background-color: #ffffff;

  &.grey-background {
    background-color: $grey-bg;
  }
}

.download-app-btn {
  color: lighten(#000000, 30%);
  background-color: $yellow-bg;
  font-family: BoldFont;
  border-color: $yellow-bg;
  border-radius: 0;
}

/*******************/
/* Icon images */
.image-container {

  text-align: center;
  width: 100%;
  margin-top: 10%;

  @media only screen and (min-width: 768px) {
    position: absolute;
    transform: translateY(5%);
    margin-top: 20%;
    width: auto;
  }

  &.align-left {
    @media only screen and (min-width: 768px) {
      left: 20%;
    }
  }

  &.align-right {
    @media only screen and (min-width: 768px) {
      right: 0;
    }

    @media only screen and (min-width: 800px) {
      right: 10%;
    }
  }
}

.image-icon {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
}

.image-description {
  font-family: RegularFont;
  font-size: medium;

  @media only screen and (min-width: 450px) {
    font-size: 18px;
    font-weight: 500;
  }
}

/**************************/
/* Phone images */
.phone-image {
  transform: translateY(10%);
  position: absolute;
  max-height: 460px;
  display: none;

  @media only screen and (min-width: 768px) {
    display: block;
  }

  &.align-left {
    left: 20%;
  }

  &.align-right {
    right: 10%;
  }
}

/*****************/
/* Misc */

#map-image-container {
  left: 10%;
}

#updates-image-container, #order-phone-image {
  left: 15%;
}

