@import '../../../assets/variables';

/*$top-section-height: 50%;*/
$top-section-height: calc(#{$section-height-laptop}/ 2);
$download-app-wrapper-height: 70px;

header {
  background: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  display: block;
  margin: 0;
  height: $top-section-height;
  text-align: center;
  padding-top: 2%;

  .glyphicon {
    position: absolute;
    top: 25%;
    color: $yellow-bg;
    font-size: xx-large;

    &.right-arrow {
      right: -25px;
    }

    &.left-arrow {
      left: -25px;
    }
  }

  .carousel-element {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
  }
}

.name-text {
  font-family: BoldItalicFont;
}

.quote-text {
  font-family: RegularItalicFont;
  width: 250px;
  margin: auto;
}

.download-app-wrapper {
  height: $download-app-wrapper-height;
  background: red;
  width: 100%;
  position: absolute;

  .download-app-btn {
    top: 25%;
    height: 40px;
    position: relative;
    width: 200px;
  }
}

.footer-content {
  display: block;
  background-color: $purple-bg;
  height: calc(#{$section-height-laptop}/ 2);
  transform: translateY(calc(#{$section-height-laptop}/ 2));

  /* @media only screen and (min-width: 1000px) {
    height: calc(#{$section-height-laptop} - 50%);
  }*/
}