@import '../../../assets/variables';

$top-section-height: calc(#{$section-height-laptop}/ 2);
$download-app-wrapper-height: 70px;
$nav-top-padding: 30px;

/***********************/
/* HEADER */
header {
  background: #ffffff;
  position: relative;
  width: 100%;
  top: 0;
  display: block;
  margin: 0;
  height: auto;
  text-align: center;
  padding-top: 2%;

  @media only screen and (min-width: 600px) {
    position: absolute;
    height: $top-section-height;
  }

  h3 {
    font-size: medium;

    @media only screen and (min-width: 550px) {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .glyphicon {
    position: absolute;
    top: 25%;
    color: $yellow-bg;
    font-size: xx-large;

    &.right-arrow {
      right: -25px;
    }

    &.left-arrow {
      left: -25px;
    }
  }

  .carousel-element {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
  }
}

.name-text {
  font-family: BoldItalicFont;
}

.quote-text {
  font-family: RegularItalicFont;
  width: 250px;
  margin: auto;
}

.download-app-wrapper {
  height: $download-app-wrapper-height;
  background: red;
  width: 100%;
  position: relative;
  bottom: 0;

  @media only screen and (min-width: 600px) {
    position: absolute;
  }

  .download-app-btn {
    top: 25%;
    height: 40px;
    position: relative;
    width: auto;

    @media only screen and (min-width: 500px) {
      width: 200px;
    }
  }
}

/********************************************/
/**** FOOTER ******/
.footer-content {
  display: block;
  background-color: $purple-bg;
  transform: translateY(0);
  height: auto;

  @media only screen and (min-width: 600px) {
    transform: translateY(calc(#{$section-height-laptop}/ 2));
  }

  /** Height **/
  @media only screen and (min-width: 600px) {
    height: calc(#{$section-height-laptop} + 400px);
  }

  @media only screen and (min-width: 1000px) {
    height: calc(#{$section-height-laptop} + 300px);
  }

  @media only screen and (min-width: 1110px) {
    height: calc(#{$section-height-laptop} + (#{$nav-top-padding} * 4));
  }

  /****************************/
  /* NAVIGATION */
  .navigation {
    width: 100%;
    clear: both;
    height: auto;
    margin-bottom: 20px;

    @media only screen and (min-width: 1280px) {
      margin-bottom: 0;
      height: calc(#{$nav-top-padding} * 5);
    }

    .nav-pills {
      padding-top: 20px;
      padding-left: 6%;
      border-bottom: 2px solid #ffffff;
      width: 80%;
      margin: auto;
      position: relative;

      li {
        top: 20px
      }

      a {
        font-family: RegularFont;
        color: #ffffff;
        outline : none;
        text-decoration: none;
      }

      a:hover {
        cursor: pointer;
        background-color: transparent;
        text-decoration: underline;
      }

      i {
        font-size: xx-large;
        border-radius: 0;
        padding-top: 13px;
        width: auto;
        height: auto;
        text-align: center;
        margin-top: 6px;
        transform: translateY(-$nav-top-padding);
        border: none;

        @media only screen and (min-width: 1204px) {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          border: 2px solid #ffffff;
        }
      }
    } /* nav pill end */
  }

  /****************************/
  /* Links section */
  .links-section {
    position: relative;
    width: 80%;
    display: block;
    margin: auto;
  }

  .link-wrapper {
    margin-bottom: 20px;
  }

  .link-title {
    font-family: BoldFont;
    color: #ffffff;
  }

  .link-group {
    a {
      font-family: RegularFont;
      color: darken($grey-bg, 20%);
      outline : none;
      text-decoration: none;
    }

    a:hover {
      cursor: pointer;
      background-color: transparent;
      text-decoration: underline;
    }
  }
} /* Footer end */