@import '../../../assets/variables';

$top-section-height: 240px;

header {
  background: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  display: block;
  margin: 0;
  height: $top-section-height;
  text-align: center;
  padding-top: 2%;

  .glyphicon {
    position: absolute;
    top: 25%;
    color: $yellow-bg;
    font-size: xx-large;

    &.right-arrow {
      right: -25px;
    }

    &.left-arrow {
      left: -25px;
    }
  }

  .carousel-element {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
  }
}

.name-text {
  font-family: BoldItalicFont;
}

.quote-text {
  font-family: RegularItalicFont;
  width: 250px;
  margin: auto;
}


main {
  @media only screen and (min-width: 1000px) {
    height: calc(#{$section-height-laptop} - #{$top-section-height});
  }
}