@font-face {
  font-family: 'BoldFont';
  src: url('./assets/fonts/CorpidC1-Bold.eot'),
  url('./assets/fonts/CorpidC1-Bold.woff') format('woff');
}

@font-face {
  font-family: 'BoldItalicFont';
  src: url('./assets/fonts/CorpidC1-BoldItalic.eot'),
  url('./assets/fonts/CorpidC1-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'HeavyFont';
  src: url('./assets/fonts/CorpidC1-Heavy.eot'),
  url('./assets/fonts/CorpidC1-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'LightFont';
  src: url('./assets/fonts/CorpidC1-Light.eot'),
  url('./assets/fonts/CorpidC1-Light.woff') format('woff');
}

@font-face {
  font-family: 'RegularFont';
  src: url('./assets/fonts/CorpidC1-Regular.eot'),
  url('./assets/fonts/CorpidC1-Regular.woff') format('woff');
}

@font-face {
  font-family: 'RegularItalicFont';
  src: url('./assets/fonts/CorpidC1-RegularItalic.eot'),
  url('./assets/fonts/CorpidC1-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'BlackFont';
  src: url('./assets/fonts/CorpidC1_Black.eot'),
  url('./assets/fonts/CorpidC1_Black.woff') format('woff');
}



