$red-bg: #D22029;
$yellow-bg: #FFC614;
$grey-bg: #F6F6F6;
$purple-bg: #45233E;

$head-footer-height: 70px;
$head-footer-init-height: 100px;

$section-height-laptop: 645px;

$medium-section-height: 525px;

$small-section-height: 400px;

$min-width: 320px;