@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css');
@import url('https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css');

@import './assets/fontfamilies.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
